

a {
    cursor: cell;
    color: cornflowerblue;
    text-after-overflow:underline;
    text-align: center;
}
h1{
    color: chocolate;
    color-adjust: economy;
   text-shadow: black 1px 1px 2px;
    text-align: center;
}
h4{
    color: darkorange;
    text-align: center;
}
p{
    color: darkorange;
    text-align: center;
}
.introduction
{
    background-color: aqua;
}