section{
    background-image: radial-gradient(circle, chocolate,#00CED1, #AEDD81);
}
section.certificate{
    background-image:linear-gradient(to bottom right,#00CED1,chocolate);

}
a {
    cursor: cell;
    color: darkolivegreen;
    text-after-overflow:underline;
    text-align: center;
}
h1{
    color: chocolate;
    color-adjust: economy;
   text-shadow: black 1px 1px 2px;
    text-align: center;
}
h4{
    color: darkorange;
    text-align: center;
}
p{
    color: darkorange;
    text-align: center;
}
.introduction
{
    background-color: aqua;
}